

.Card, .PlayerCard{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
}
.List{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.ReservationList{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.VenueCard i{
    position: absolute;
    right: 1rem;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
  }
  
.VenueCard{
    position: relative;
    background: transparent;
    backdrop-filter: blur(20px);
    outline: 3px solid rgb(109, 109, 109);
    outline-style: solid;
    outline-color: rgb(109, 109, 109);
    margin: 1rem;
    flex: 1 0 25rem;
    /* max-width: 30rem; */ 
    max-width: 300px;
    /* max-height: 50rem; */
    padding:20px;
    /* transition: 0.2s; */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
}

.PlayerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust if needed */
    align-items: center; /* Align items to the center if needed */
    position: relative;
    background: transparent;
    backdrop-filter: blur(20px);
    outline: 3px;
    outline-style: solid;
    outline-color: rgb(109, 109, 109);
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 30rem;
    max-height: 50rem;
    transition: 0.2s;
    border-radius: 10px;
  }

  .UserCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust if needed */
    align-items: center; /* Align items to the center if needed */
    position: relative;
    background: transparent;
    backdrop-filter: blur(20px);
    outline: 3px;
    outline-style: solid;
    outline-color: rgb(109, 109, 109);
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 30rem;
    max-height: 50rem;
    transition: 0.2s;
    border-radius: 10px;
  }
  
.VenueCard:hover{
    /* transform: translateY(-0.5rem); */
    transform: translateY(-5px);
    box-shadow: 0.5rem 0.75rem 1.5rem #8C1C13;
}

.VenueName {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-right: 20px;
}




.VenueAddress,
.VenueSport {
  font-size: 1rem;
  margin-bottom: 5px;
}

.ReservationList {
  margin-top: 20px;
}

.ReservationList h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.ReservationList ul {
  padding-left: 20px;
}

.ReservationList li {
  margin-bottom: 5px;
}

.displayStack__1{
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayStack {
    margin: 1rem 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.display2{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}
.info{
    margin: 2px;
}

.CardContent {
    margin: 1rem;
}

.h4 {
   padding: 1rem;
}


.bookmarked-color {
  color:red;
}

.unbookmarked-color {
  color: lightgray;
}

.UserCardTitle{
    display: flex;
    justify-content: center;
}
