
.navBar {
    background-image: url("../assets/backgroundImage.jpg");
    background-size: cover;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navBarLogo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  
  .navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .navItem {
    height: 80px;
  }
  
  .navLinks {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .navLinks:hover {
    border-bottom: 4px solid #8C1C13;
    transition: all 0.2s ease-out;
  }
  
  .navLinksMobile {
    display: none;
  }
  
  .menuIcon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .navItem {
      position: relative;
    }
  
    .navMenu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      z-index: 1;
      transition: all 0.5s ease;
    }
  
    .navMenuActive {
      background: #E7D7C1;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .navLinks {
    
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navLinks:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbarLogo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menuIcon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
  
    .navLinksMobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 40%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: black;
      padding: 14px 20px;
      border: 1px solid black;
      transition: all 0.3s ease-out;
    }
  
    .navLinksMobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }